@charset "UTF-8";

:root{
    --Primary-color: rgb(70, 141, 126);--Secondary-color: rgba(70, 141, 126, 0.493);
}

*{
    box-sizing: border-box;
    padding: 0px; 
    margin: 0px;
}

body{
    height: 100vh;
    background-color: var(--Primary-color);
    background-image: url(../imagens/timeBackground.jpg);
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    max-width: 1000px;
    width: 80%;
    margin-top: 100px;
    height: 250px;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 20px;
}
h1{
    text-align: center;
    font-size: 3em;
    margin: 20px;
}
div#timer{
    text-align: center;
    font-size: 2.5em;
}
input{
    margin-right: 10px;
    padding: 5px;
}
input:hover{
    transition-duration: 1s;
    background-color: gray;
    color: white;
    border-radius: 10px;
}
