@charset "UTF-8";

:root{
    --Primary-color: rgb(70, 141, 126);--Secondary-color: rgba(70, 141, 126, 0.493);
}

*{
    box-sizing: border-box;
    padding: 0px; 
    margin: 0px;
}

body{
 height: 100%;
 background-color: var(--Primary-color);
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    max-width: 800px;
    margin: 25% auto;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 20px;
}
h1{
    text-align: center;
    margin: 20px;
}
p{
    text-align: justify;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}
