@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    height: 98vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    padding: 10px;
    margin: auto;
    display: block;
    position: relative;
    
}
h1{
    text-align: center;
    font-size: 2em;
    padding: 10px;
}
h1::before{
    content: "";
    height: 4px;
    width: 200px;
    background-color: currentColor;
    display: block;
    margin: 1px auto;
}
h1::after{
    content: "";
    height: 4px;
    width: 200px;
    background-color: currentColor;
    display: block;
    margin: 5px auto;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
#CorSite{
    text-align: center;
    margin: 10px;
    border: 3px solid black;
    border-radius: 10px;
    width: 300px;
}
#msg{
    margin-left: 10px;
    font-style: italic;
    font-size: 1.2em;
}
form{
    display: none;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    margin: auto;
}
fieldset{
    padding: 10px;
    border-radius: 10px;
    border: 5px solid black;
}
fieldset > p{
    margin-bottom: 10px;
}
#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#IEnviar, #IApagar{
    width: 6em;
    height: 3em;
    border-radius: 10px;

}

.border{
    border: 3px solid gray;
    border-radius: 5px;
}

.sekiro{
    background-image: url(../Img/giphy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.presente{
    display: none;
    align-items: center;
    justify-content: center;
}

.cartao_presente{
    margin: auto;
    border: 5px solid black;
    height: 400px;
    width: 90%;
    max-width: 600px;
    padding: 30px;
}
